

.subBtn{
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: linear-gradient(to bottom, #98d5fb 5%, #3482ff 100%);
    background-color: #63b8ee;
    border-radius: 4px;
    border: 1px solid #3866a3;
    display: inline-block;
    cursor: pointer;
    color: #14396a;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7cacde;
}

.subBtn:hover{
    background: linear-gradient(to bottom, #3482ff 5%, #63b8ee 100%);
    background-color: #468ccf;
}


.subBtn:active{
    position: relative;
    top: 1px;
}

.inputCuisine{
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: rgb(52, 130, 255);
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-left: 20px;
    
}

.searchResultContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchResult{
    width: 50%;
    border: 3px solid rgb(255, 131, 15);
    box-shadow: inset 0px 0px 0px 4px rgb(52, 130, 255);
    background-color: rgba(255, 255, 255, 0.489);
    margin-top: 30px;
    border-radius: 10px;
}

.searchTitle{
    font-size: 30px;
    letter-spacing: 2px;
}
