.footer {
    background-color: rgb(249, 174, 103) ;

    box-shadow: 0 2px 5px rgb(52, 130, 255, 0.5),
                inset 0 1px 1px rgb(52, 130, 255, 0.1);
    /* border-bottom: 5px solid  #3482ff; */
    border-top: 5px solid  #3482ff;
    display: flex;
    padding: 15px 5px 10px 5px;
    /*      top right bottom left */

    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 60px;
    margin: 0 auto;
    font-size: 18px;
    bottom: 0;
    position: fixed;
}
.footerLogo img{
    width: 12%;
}

.copyright{
    color: white;
}

.footer .socialLinks {
    left: 0;
}

.footer img {
    max-width: auto;
    height: 60px;
    padding: 10px 10px 10px 10px;
    /*      top right bottom left */
        transition: all .1s ease-in-out;
}

.footer .socialLinks  img:hover {
    transform: scale(1.1);

}
