h5{
    font-size: 80px;
    letter-spacing: 4px;
    text-align: center;
    /* position: relative;
    top: 50%;
    left: 35%; */
}

.carouselContainer{
    margin-top: 1%;
    margin-right: 9%;
    margin-left: 10%;
}
.item{
    min-height: 10%;
    min-width: 20%;
    padding: 100px;
    padding-top: 15px;
    padding-bottom: 150px;
}

.itemImg{
    width: 100%;
    height: 100%;
    border-radius: 3%;
    pointer-events: none;
}



.innerCarousel{
    display: flex;
    background: #3482ff;
}

.carousel{
    cursor: grab;
    overflow:hidden;
    background: #3482ff;
}

.homeContentContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
}

.hometitle{
    font-size: 200px;
}

.missionStatement{
    font-size: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}


.quickSearch:nth-child(3){
    align-self: flex-start;
    font-size: 80px;
    margin-top: 5%;
    margin-left: 10%;
    
}

.slogan{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    font-size: 100px;
    margin: 5%;
}