#restBody {
    margin: 0 10%
}

#uploadContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10vh;

}

#foodImageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    width: 90%;
    height: 90%;
}

#foodImageContainer .foodImages {
    width: 300px;
    height: 300px;
    padding: 20px;
    flex: 0 0 30%;
    transition: all .1s ease-in-out;
}

#foodImageContainer .foodImages:hover {
transform: scale(1.05);

}