body {
    margin: 0 10%
}

.item {
    min-height: 10rem;
    min-width: 3rem;
    padding: 40px;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 100%;
}

.imageContainer .images {
    width: 300px;
    height: 300px;
    padding: 20px;
}

.innerCarousel {
    display: flex;
    background: #5bccf6;
    flex-direction: row;
    margin-bottom: 4%;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}