#restBody {
    margin: 0 10%
}

#uploadContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10vh;

}

#foodImageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    width: 90%;
    height: 90%;
    padding:  5px 0px 5px 20px;
     /*      top right bottom left */
}

#foodImageContainer .foodImages {
    max-width: 360px;
    max-height: 360px;
    padding: 5px 0px 10px 0px;
    /*      top right bottom left */
    flex: 0 0 33%;
    transition: all .1s ease-in-out;
}

#foodImageContainer .foodImages:hover {
transform: scale(1.05);

}